body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
button{
    background-color: blue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 45%;
    border: orangered 2px solid;
}